*{
  font: inherit; 
  vertical-align: baseline;
  margin:0;
  padding:0;
}
 

body {
  width:90%;
  font-size:17px;
  margin:0 auto;
  font-family: monospace, serif;
}

audio, video, section, article, div, section, footer {
  display:block;
}

p {
  width:100%;
  float:left;
  padding-top:1%;
  color:#313131;
}

a {
  color:#66CCFF;
  font-size:1.1em;
  text-decoration:none;
}
  
a:hover {
  color:#515151;
  text-decoration:underline;
}
  
a.node {
  color:#FFCC00;
}
  
svg {
  margin:0;
  padding:0;
}

video {
  float: left;
  margin-top: 1%;
  margin-bottom: 1%;
  padding: 0;
}

audio {
  float: left;
  margin-top: 1%;
  margin-bottom: 1%;
  padding: 0;
}

h1 {width:100%;float:left;padding-top:1%;color:#111;}
h2 {width:100%;float:left;padding-top:1%;color:#515151;border-bottom:1px solid #313131;}
h3 {width:100%;float:left;padding-top:1%;color:#616161;}
h4 {width:100%;float:left;padding-top:1%;color:#414141;}
h5 {width:100%;float:left;padding-top:1%;color:#515151;}
h6 {width:100%;float:left;padding-top:1%;color:#717171;}
code{
	width: 80%;
	margin: 0 auto;
	margin-left: 10%;
	float: left;
	clear: both;
	font-size: 50%;
	background: #212121;
	color: #17f119;	
}
ul {width:100%;float:left;list-style-type:none;}
ul li {display:block;}

@media screen and (max-width: 480px) 	{
  	   pre {
  	   	background-color:#313131;
  	   	color:#17f118;
		width:100%;
		float:left;
		margin:0;
		padding:0;
		font-size:0.7em;
		white-space: pre;           /* CSS 2.0 */
    		white-space: pre-wrap;      /* CSS 2.1 */
    		white-space: pre-line;      /* CSS 3.0 */
    		white-space: -pre-wrap;     /* Opera 4-6 */
    		white-space: -o-pre-wrap;   /* Opera 7 */
   		white-space: -moz-pre-wrap; /* Mozilla */
   		white-space: -hp-pre-wrap;  /* HP Printers */
   		word-wrap: break-word;      /* IE 5+ */				
		}
	video, audio {
		width:100%;
		float:left;
		margin:0;
		padding:0;
		}
  
}
