*{
  margin:0;
  padding:0;
  }
  
body {
  width:90%;font-size:90%;
  margin:0 auto;
  font-family: monospace, serif;
  }
audio, video, section, article, div, section, footer {display:block;}

p {
  width:100%;
  float:left;
  padding-top:1%;
  color:#313131;
  }

a {
  color:#66CCFF;
  font-size:1.1em;
  text-decoration:none;
  }
  
a:hover {
  color:#515151;
  text-decoration:underline;
  }
  
a.node {
  color:#FFCC00;
  }
  
svg {margin:0;padding:0;}
video {
float: left;
margin-top: 1%;
margin-bottom: 1%;
padding: 0;
}

audio {
float: left;
margin-top: 1%;
margin-bottom: 1%;
padding: 0;
}

h1 {width:100%;float:left;padding-top:1%;color:#111;}
h2 {width:100%;float:left;padding-top:1%;color:#515151;border-bottom:1px solid #313131;}
h3 {width:100%;float:left;padding-top:1%;color:#616161;}
h4 {width:100%;float:left;padding-top:1%;color:#414141;}
h5 {width:100%;float:left;padding-top:1%;color:#515151;}
h6 {width:100%;float:left;padding-top:1%;color:#717171;}
code{width:98%;padding:1%;float:left;clear:both;}
ul {width:100%;float:left;list-style-type:none;}
ul li {display:block;}
