*{margin:0;padding:0;}
body {width:80%;margin:0 auto;font-family: monospace, serif;}
h2 {width:100%;float:left;padding-top:1%;color:#313131;border-bottom:1px solid #313131;}
code{width:100%;float:left;}
