*{margin:0;padding:0;}
body {width:80%;margin:0 auto;font-family: monospace, serif;}
p {width:100%;float:left;padding-top:1%;color:#000;}
a {color:#66CCFF;font-size:1.1em;text-decoration:none;}
a:hover {color:#515151;text-decoration:underline;}
h1 {width:100%;float:left;padding-top:1%;color:#111;}
h2 {width:100%;float:left;padding-top:1%;color:#313131;border-bottom:1px solid #313131;}
h3 {width:100%;float:left;padding-top:1%;color:#212121;}
h4 {width:100%;float:left;padding-top:1%;color:#414141;}
h5 {width:100%;float:left;padding-top:1%;color:#515151;}
h6 {width:100%;float:left;padding-top:1%;color:#717171;}
code{width:98%;padding:1%;float:left;clear:both;}
#ex7 { width: 100%; border-bottom: 1px solid #414141;  border-top: 1px solid #414141;background: #111; 
height: auto; line-height: 15px; color: transparent; font-size: 30px; float: left;  font-weight: 300;
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif; 
 -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; 
-o-transition: all 0.5s ease; } #ex7 p { background: #111; }
#ex7:hover { line-height: 100px; color: #575858;}   
#ex7 img{ float: left; margin: 10px; }
#ex8 {
-webkit-animation: cssAnimation 1s 1 ease;
-moz-animation: cssAnimation 1s 1 ease;
-o-animation: cssAnimation 1s 1 ease;
}
@-webkit-keyframes cssAnimation {
from { -webkit-transform: rotate(0deg) scale(0.100) skew(0deg) translate(0px); }
to { -webkit-transform: rotate(0deg) scale(0.999) skew(0deg) translate(0px); }
}
@-moz-keyframes cssAnimation {
from { -moz-transform: rotate(0deg) scale(0.100) skew(0deg) translate(0px); }
to { -moz-transform: rotate(0deg) scale(0.999) skew(0deg) translate(0px); }
}
@-o-keyframes cssAnimation {
from { -o-transform: rotate(0deg) scale(0.100) skew(0deg) translate(0px); }
to { -o-transform: rotate(0deg) scale(0.999) skew(0deg) translate(0px); }
}

